.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 400px;
  gap: 5px;
  border: solid lightcoral;
}

#somethingWrongContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#extensionTitle {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 15px;
}
