.App {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 300px;
  gap: 5px;
  border: solid lightcoral;
}

#leftArrowContainer {
  position: absolute;
  width: 30px;
  height: 30px;
}

#middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#extensionTitle {
  text-align: center;
  font-size: 40px;
}



p {
  font-size: 15px;
}

.bottom {
  margin-top: auto;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}